<%- include("./partials/header.ejs", { user: user}) %>


<div class="indexDiv">
  <div class="mx-auto" style="width: 50vw;">
    <div class="text-center">
      <h1>Welcome</h1>
      <p>Search your favorite recipes and save them to your profile dont forget to leave comments for yourself to remember your ideas!</p>
    </div>
  </div>

<div class="mx-auto" style="width: 50vw;">
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Sign Up or Log In</h5>

      <a href="/users/new" class="btn btn-primary">Sign Up</a>
      <a href="/users/login" class="btn btn-primary">Log In</a>
    </div>
  </div>
  </div>
</div>




<%- include("./partials/footer.ejs") %>