<%- include("../partials/header.ejs") %>
   
<div class="mx-auto" style="width: 50vw;">
    <div class="card text-center">
        <div class="card-body">
                <h2>Sign in</h2>
                <% if (message) { %>
                <p> <%= message %></p>
                <% } %>
                <form method="POST" action="/users/login">
                <label for="email">email</label>
                <input type="email" name="email" id="email" required style="margin: 5px"/>
                    <br />
                <label for="password">password</label>
                <input type="password" name="password" id="password" required style="margin: 5px"/>
                    <br />
                <button type="submit" class="btn btn-primary">Sign In!</button>
            </div>
    </div>
</div>      

</form>


<%- include("../partials/footer.ejs") %>