<%- include("../partials/header.ejs") %>

<h1>Search for the ingedients of you favorite dishes</h1>
<div class="container-fluid">
    <form method="GET" class="d-flex" role="search">
      <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>


<%- include('../partials/footer.ejs') %>